@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
html{
    scroll-behavior: smooth;
    color: rgb(27, 27, 27);
    overflow-x: hidden;
}