.Consult_about {
    position: absolute;
    margin-top: 410vh;
    width: 80%;
    left: 6%;
}
.Consult_part{
    display: flex;
}

.conslt_textpart{
    margin: 60px 90px;
}
.conslt_textpart h1{
    color: #114765;
    font-weight: bold;
}
.conslt_textpart p{
    font-size: 20px;
    margin: 30px 0;
}
.button_1{
    background-color: #384FE9;
    color: #fff;
    text-decoration: none;
    padding: 7px 18px;
    border-radius: 5px;
    margin: 30px 30px 0px 0px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button_1:hover{
    background-color: #00159f;
    color: #fff;
}
.conslt-boy-img img{
    width: 130%;
    margin: 40px 60px 40px 60px;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
.about_part{
    text-align: center;
    margin: 40px 0px 40px 100px;
}
.about_part h2{
    color: #114765;
}
.about_part p{
    font-size: 18px;
    margin-top: 30px;
}
.responsive_part{
    display: none;
}

@media (max-width:600px){
    .Consult_about {
        position: absolute;
        margin-top: 345vh;
        width: 100%;
        left: 2%;
        right: 0%;
        text-align: center;
        align-items: center;
    }
    .Consult_part{
        display: block;
    }
    .conslt_textpart{
        display: none;
    }
    .conslt-boy-img img{
        width: 300px;
        margin: 20px 0px;
        animation: up-down 2s ease-in-out infinite alternate-reverse both;
    }
    .about_part{
        display: none;
    }
    .Consult_about .responsive_part {
        position: relative;
        display: block;
        align-items: center;
    }
    .Consult_about .responsive_part h3{
        width: 100%;
        color: #114765;
        font-size: 30px;
        text-align: center;
        margin: 20px 0;
    }
    .responsive_part .btn a{
        background-color: #384FE9;
        color: #fff;
        width: auto;
        text-decoration: none;
        font-size: 15px;
        padding: 7px 18px;
        border-radius: 5px;
        margin-top: 50px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    .responsive_part .btn a:hover{
        background-color: #00159f;
        color: #fff;
    }
}
@media (min-width:601px) and (max-width:1000px){
    .Consult_about {
        position: absolute;
        margin-top: 350vh;
        width: 90%;
        left: 3%;
    }    
    .conslt_textpart{
        margin: 60px 10px;
    }
    .conslt_textpart p{
        font-size: 18px;
        margin: 30px 0;
        width: 85%;
    }
    .conslt-boy-img img{
        width: 200px;
        height: 200px;
        margin: 80px 0px 30px 30px;
        animation: up-down 2s ease-in-out infinite alternate-reverse both;
    }
    @keyframes up-down {
        0% {
            transform: translateY(10px);
        }
        100%{
            transform: translateY(-10px);
        }
    }
    .about_part{
        text-align: center;
        margin: 10px 0px 30px 10px;
        width: 100%;
    }
    .about_part h2{
        color: #114765;
    }
    .about_part p{
        font-size: 18px;
        margin-top: 20px;
    }
    .responsive_part{
        display: none;
    }
}