.Properties{
    margin-top: 107%;
    position: absolute;
    width: 85%;
    left: 10%;
    text-align: center;
}
.Properties_cards{
    margin: 40px 10px;
    display: flex;
    justify-content: space-between;
}
.Properties_cards :hover{
    border: 1px solid #114765;
    box-shadow: 0 1px 10px rgb(133, 133, 133);
    border-radius: 20px;
}
.Properties_img{
    background-color: #114765;
    border-radius: 20px;
}
.Properties_img img{
    border-radius: 20px;
    width: 300px;
    height: 200px;
}
.Properties_img :hover{
    border: none;
    box-shadow: none;
}
.Properties_img p{
    color: #fff;
    font-size: 18px;
    margin: 10px 0px;
    padding-bottom: 5px;
}
/* .Properties_img :hover .hidden_text{
    color: #fff;
    font-size: 15px;
    z-index: 1;
    display: block;   
} */

@media (max-width:700px){
    .Properties{
        top: 145%;
        position: absolute;
        width: 100%;
        left: 0%;
        margin: 10px;
        margin-left: 0;
        text-align: center;
        z-index: 5;
    } 
    .Properties h2{
        font-size: 20px;
    }
    .Properties_cards{
        margin: 15px;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .Properties_img img{
        border-radius: 20px;
        width: 270px;
        height: 180px;
    }
    .Properties_cards :hover{
        border: none;
        box-shadow: none;
        border-radius: none;
    }
    .Properties_img p{
        color: #fff;
        font-size: 15px;
        margin: 10px 0px;
        padding-bottom: 8px;
    }
}