#right-temp {
    position: relative;
    left: 27%;
  }
  
  .templates {
    align-content: right;
    display: grid;
    grid: auto / auto auto auto;
    grid-gap: 5px;
    justify-content: center;
    width : 60%;
  }
  
.tempBox {
    background-color: #114765;
    border-radius: 10px;
    width: 350px;
    height: 300px;
    margin: 15px;
  }
 .tempBox img{
    border-radius: 10px;
    width: 350px;
    height: 300px;
  } 
  
  .contentBox {
    background: rgba(255, 255, 255, 0.723);
    border-radius: 5px;
    width: 230px;
    height: 90px;
    margin: -25% 0% 0% 29%;
    z-index: 1;
    line-height: 1.1;
    position: absolute;
  }
  
  .contentBox .temp-title {
    font-weight: bold;
    text-align: left;
    padding: 5px 0px 0px 7px;
    font-size: 18px;
  }
  
  .contentBox .temp-title span {
    font-weight: 500;
    text-align: left;
    font-size: 13px;
  }

  .contentBox .temp-icon {
    font-size: 22px;
    font-weight: bold;
    position: inherit;
    line-height: 0.1;
    display: flex;
    align-items: left;
    justify-content: center;
    margin: 0 10px ;
  }
  
  .temp-icon span {
    margin: 0px 10px;
    margin-top: -10px;
  }
  
  .temp-icon {
    padding: 5px;
    width: auto;
  }
  
  @media (min-width: 1170px) and (max-width: 1290px) {
    .templates {
      margin: 5;
    }
  
  .tempBox {
      width: 290px;
      height: 220px;
      margin: 12px;
    }
  
    .contentBox {
      width: 210px;
      height: 80px;
      margin: 46% 0% 0% 25%;
      line-height: 1.2;
    }
  
    .contentBox .temp-title {
      padding: 5px 0px 0px 7px;
      font-size: 15px;
    }
  
    .contentBox .temp-title span {
      font-weight: 400;
      font-size: 12px;
    }
  
    .contentBox .temp-icon {
      font-size: 18px;
    }
  }
  
  @media (max-width: 1169px) {
    .templates {
      display: flex;
      margin: 5;
      flex-wrap: wrap;
    }
  
  .tempBox {
      width: 310px;
      height: 240px;
      margin: 15px;
    }
  
    .contentBox {
      width: 220px;
      height: 90px;
      margin: 46% 0% 0% 26%;
      line-height: 1.1;
    }
  
    .contentBox .temp-title {
      padding: 5px 0px 0px 7px;
      font-size: 17px;
    }
  
    .contentBox .temp-title span {
      font-weight: 400;
      font-size: 13px;
    }
  
    .contentBox .temp-icon {
      font-size: 21px;
    }
  }
  
  @media (max-width: 700px) {
    #right-temp {
      margin-top: 50px;
    }
  
    .mob-filter-header {
      display: flex;
      justify-content: space-between;
    }
  
    .mob-search-container {
      display: flex;
      float: right;
      margin: 2px 15px 2px 0px;
    }
  
    .mob-search-container input[type=text] {
      padding: 6px;
      margin-top: 6px;
      margin-bottom: 5px;
      font-size: 15px;
      height: 30px;
      width: 200px;
      border-radius: 5px;
      border: 1px solid #114765;
    }
  
    .mob-search-container a {
      padding: 6px 5px;
      margin: 6px 0px 6px 0px;
      height: 30px;
      border-radius: 5px;
      background: none;
      color: #114765;
    }
  }